body {
  padding: 15px;
  background-color: rgb(165, 88, 88);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  color: rgb(237, 237, 237);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  padding: 10px;
  font-size: 36px;
  border: 2px solid;
  width: 250px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 25px;
  margin-top: 0;
  /* font-weight: lighter; */
}

h2 {
  margin: 40px 0 5px 0;
}
form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

input {
  width: 200px;
  margin: none;
  padding: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  color: rgb(68, 68, 68);
}
.to-do {
  font-size: 1.2rem;
  font-weight: bold;
}
.description {
  margin-left: 10px;
}
.date {
  font-size: 0.8rem;
  margin-left: 10px;
}

input:focus {
  outline: none;
}

#todo-header {
  font-size: 24px;
}

ul {
  list-style: none;
  border: 0.5px solid;
  width: 300px;
  height: 400px;
  padding: 20px;
  /* text-align: center; */
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  background-image: none;
  background-color: rgb(221, 221, 221);

  overflow: auto;
}
.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0 15px 0;
}

p {
  padding: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  margin: 0;
}

p:focus {
  outline: none;
}

i {
  padding-left: 10px;
  position: relative;
  text-align-last: end;
  cursor: pointer;
}

.fa-check:hover {
  color: green;
}

.fa-times-circle:hover {
  color: red;
}

#clear {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(158, 51, 8);
  color: rgb(237, 237, 237);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

#clear:focus {
  outline: none;
}

.complete {
  text-decoration: line-through;
  color: rgb(190, 190, 190);
}

.warning {
  color: rgb(206, 171, 18);
}

.delayed {
  color: red;
}
